<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838705888045-ncvvlmcc96rvs5uaqfmp1u28aq8t74lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838705888045-ncvvlmcc96rvs5uaqfmp1u28aq8t74lr</string>
	<key>API_KEY</key>
	<string>AIzaSyApeO8MG9tdWbHPVgtVduGjYyTv7oxSDCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>838705888045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.eliasweber.firebaseExample</string>
	<key>PROJECT_ID</key>
	<string>flutterfiretest-39cb9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfiretest-39cb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838705888045:ios:aff4d958441016f89bf1a4</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfiretest-39cb9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>